html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.box{
    text-align: center;
    display: flex;
    width: 80vw;
    height: auto;
    border: rgb(75, 213, 231) solid 1rem;
    margin: 10rem auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    font-size: 100rem;
    width: 27%;
    height: auto;
    margin: 1rem auto;
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    border: rgb(23, 170, 109) solid .5rem;
}

img{
    width: 80%;
    height: auto;
}