html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body{
    font-family: 'Merriweather', serif;
}

.title{
    font-size: 5rem;
    text-align: center;
    animation: header infinite 2s;
}

.box{
    text-align: center;
    display: flex;
    width: 80vw;
    height: auto;
    border: rgb(255, 255, 255) solid 1rem;
    margin: 10rem auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    font-size: 100rem;
    width: 27%;
    height: auto;
    margin: 1rem auto;
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0);
    border: rgb(23, 170, 109) solid .5rem;
}

.fontSize{
    font-size: 2rem;
}

.animal{
    font-size: 1.25rem;
    margin: 1rem 1rem 0rem;
}

.buttons{
    text-align: center;
}

.buttonClass{
    font-size: 1.5rem;
    text-align: center;
    margin: 0rem 1rem 1rem;
    font-family: 'Merriweather', serif;
    transition: all 1s;
}

.buttonClass:hover{
    transform: scale(1.5);
}

.space{
    margin: 1rem auto;
    text-align: center;
}
.text1{
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
}

.text2{
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
}

.btn{
    background-color: rgb(188, 134, 219);
    color: rgb(21, 44, 3);
    transition: all 1s;
}

.btn:hover{
    transform: scale(1.5);
}

img{
    width: 80%;
    height: 15rem;
}

@keyframes header {
    0%{
      color: rgb(242, 243, 202);
    }
    12.5%{
      color: rgb(240, 241, 159);
    }
    25%{
      color: rgb(252, 187, 102);
    }
    37.5%{
      color: rgb(245, 161, 52);
    }
    50%{
      color: rgb(185, 107, 4);
    }
    62.5%{
      color: rgb(245, 161, 52);
    }
    75%{
      color: rgb(252, 187, 102);
    }
    87.5%{
      color: rgb(241, 206, 159);
    }
    100%{
      color: rgb(247, 222, 189)
    }
}